
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="card">
    <div>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>
</div>
<div class="card">
    <div>
       <a asp-action="PlayableCharacterAttr" class="btn btn-primary">Attributes</a>
    </div>
</div>